* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: #303030;
  color: white;
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 6px;
  border-bottom: 1px solid #444444;
}

header .logo {
  width: 32px;
}

header .mobile-menu {
  display: none;
}

header .mobile-menu-items {
  color: #d3d3d3;
}

header .mobile-menu-items:hover {
  color: white;
}

header .small-profile-pic {
  width: 40px;
  height: 40px;
}

header li {
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

.page-title {
  margin: 20px;
}

.books-count {
  background-color: #039be5;
  width: 20px;
  height: 20px;
  font-size: .8rem;
  vertical-align: top;
  padding: 2px 5px;
  border-radius: 50px;
}

.search {
  background-color: #444444;
  padding: .01111rem;
  border: 1px solid black;
  border-radius: 20px;
  width: 25rem;
}

.search-input {
  font-family: 'Comfortaa', cursive;
  background-color: #444444;
  border-radius: 20px 0px 0px 20px;
  padding: .5rem;
  color: white;
  width: 91.2%;
  border: none;
}

.search-bnt {
  background: none;
  border: none;
  border-radius: 0px 20px 20px 0px;
  padding: .5rem;
  color: white;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  margin: 40px;
}

.user-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-info p span {
  font-size: 1rem;
}

.books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.books .book {
  width: 128px;
  height: 235px;
  margin: 10px;
  padding: 2px;
  border-radius: 5px 5px 0px 5px;
}

.books .book:hover {
  background-color: #444444;
}

.cover {
  width: 128px;
  height: 193px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 5px 5px 0px 5px;
}

.title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7rem;
}

.book-options {
  float: right;
}

.book-options button {
  margin: 2px;
  background: none;
  border: none;
  color: white;
}

.book-options button:hover {
  color: #039be5;
}

.book-volume-info {
  display: inline-block;
}

.book-cover {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.options {
  width: 90%;
  margin: auto;
}

.options form {
  display: inline;
}

.options button {
  color: white;
  margin: 20px 0;
  padding: 6px;
  background-color: #039be5;
  border: none;
  border-radius: 2px;
  width: 15%;
}

.book-info {
  width: 75%;
  float: right;
  padding: 10px;
}

.book-title {
  max-width: 90%;
}

.info {
  margin: 10px 0;
}

.buy-link {
  color: #039be5;
}

.book-description {
  font-size: 10pt;
  max-width: 90%;
  margin: auto;
}

.book-details {
  padding: 20px;
}

.book-details h3 {
  margin: 10px;
}

table {
  border-collapse: collapse;
  border-bottom-width: 1px;
}

.table-dark {
  width: 100%;
  background-color: #444444;
}

.table-dark th,
.table-dark tr {
  text-align: left;
}

.table-dark th {
  padding: 8px;
  border-bottom: .5px solid #44444470;
  background-color: #202020;
}

.table-dark td {
  padding: 8px;
}

.profile-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth, .edit-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
}

.input, .submit-bnt {
  width: 280px;
  padding: 6px;
  margin: 10px;
}

.submit-bnt {
  background-color: #039be5;
  border: 2px solid #039be5;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: white;
}

.submit-bnt:hover {
  background-color: white;
  border-color: white;
  color: #039be5;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.error-msg {
  color: red;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.not-found img {
  width: 200px;
}

@media screen and (max-width: 600px) {
  header .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
  }
  header .menu .user {
    display: none;
  }
  header .menu ul {
    display: none;
  }
  header .menu .mobile-menu-items {
    display: block;
    color: #444444;
  }
  header .menu .search {
    width: 100%;
  }
  header .menu .search-input {
    width: 83%;
  }
  header .menu .search-bnt {
    border-radius: 0px 20px 20px 0px;
    padding: .5rem;
  }
  header .mobile-menu {
    background-color: #303030;
    border-top: 1px solid #444444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
  }
  header .mobile-menu a {
    color: #929292;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 25%;
  }
  header .mobile-menu a span {
    font-size: .8rem;
  }
  header .mobile-menu .active {
    color: white;
  }
  .books {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .books .book {
    height: 240px;
    margin: 5px;
    padding: 4px;
  }
  .title {
    font-size: 1.1rem;
  }
  .authors {
    font-size: .8rem;
  }
  .book-options button {
    font-size: 1rem;
  }
  .book-cover {
    margin: 0 20px;
  }
  .options {
    text-align: center;
  }
  .options button {
    width: 49%;
  }
  .book-info {
    width: 55%;
  }
  .info {
    font-size: .8rem;
    margin: 10px 0;
  }
  footer {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */